*.iml
.gradle/
.idea/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
*.hprof
*/node_modules
*/service-account.json
!google-services.json

# Android build artifacts
**/build/
local.properties
.cxx/
*/.cxx/
externalNativeBuild/
